
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  *,
  *:before,
  *:after{
    box-sizing:border-box;
  }
  body{
    margin:0;
    padding: 0;
    min-height:100vh;
    font-family: 'Noto',serif;
  }